<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Document</title>
</head>

<body>
    <%- include('../component/header.ejs'); %>




    <div class="login-form-container active">
        <div class="img-container">
            <img src="/images/EU.jpg" id="video-slider"></img>
        </div>

        <i class="fas fa-times" id="form-close"></i>

        <form action="/auth/register" method="post">
            <h3>register</h3>
            <input type="text" class="box" name="first_name" placeholder="First Name">
            <input type="text" class="box" name="last_name" placeholder="Last Name">
            <input type="text" class="box" name="gender" placeholder="Gender">
            <input type="text" class="box" name="contact_number" placeholder="Contact Number">
            <input type="text" class="box" name="passport_number" placeholder="Passport Number">
            <input type="text" class="box" name="address_line1" placeholder="Address Line 1">
            <input type="text" class="box" name="address_line2" placeholder="Address Line 2">
            <input type="text" class="box" name="country" placeholder="Country">
            <input type="text" class="box" name="province" placeholder="Province">
            <input type="text" class="box" name="city" placeholder="City">
            <input type="text" class="box" name="birthday" placeholder="Birthday">
            <input type="text" class="box" name="email" placeholder="Email">
            <input type="text" class="box" name="password" placeholder="Password">
            <input type="text" class="box" name="confirm_password" placeholder="Confirm password">

            <input type="submit" class="btn" value="Register">

            <p>already have an account? <a href="/auth/login">log in</a></p>
            <% if(msg) %>
                <p>
                    <%-msg%>
                </p>
        </form>

    </div>

</body>

</html>