<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <p><%=user.email%></p>
    <a href="/auth/logout">LogOut</a><br>
    <a href="/admin/register">Register a Super Admin</a><br>
    <a href="/staff/register">Register a Staff Member</a><br>
    <a href="/staff/viewAll">All Staff Members</a><br>
    <a href="/regCustomer/viewall">All registered Customers</a><br>
    <a href="/guestCustomer/viewAll">Guest Customer History</a><br>
</body>
</html>