@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --orange: rgb(49, 157, 150);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--orange);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span {
  font-size: 3.5rem;
  /* background: rgba(255, 165, 0, 0.2); */
  color: var(--orange);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}

.heading span.space {
  background: none;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--orange);
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: rgba(128, 255, 225, 0.2);
  color: var(--orange);
}

/* -------------------- */
.book{
  margin-top: 50px;
}

.book .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
 
  /* align-items: center; */
}

.book .row .left-col {
  background-color: #ffffff;
  color: rgb(25, 24, 24);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;

  flex: 1;
  padding: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  text-align: center;
}

.book .row .left-right {
  /* background-color: #e5faf7; */
  flex: 1;
  padding: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.book .row .image img {
  width: 100%;
}

/* .book .row form {
  flex: 1;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
} */

.book .row form .inputBox {
  padding: 0.5rem 0;
}

.book .row form .inputBox input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
}

.book .row form .inputBox h3 {
  font-size: 2rem;
  padding: 1rem 0;
  color: #666;
}

/* --------------------------------- */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .heading span {
    font-size: 2.5rem;
  }

  /* .contact .row form .inputBox input {
    width: 100%;
  } */

  .book .row {
    flex-direction: column;
    /* align-items: center; */
  }

  /* .book .row .left-col {
    flex: 0;
  }

  .book .row .left-right {
    flex: 0;
  } */
}

